/* Global reset and settings */
:root {
  --primary-color:#f8f8f8;
  --secondary-color: #ffffff;
  --text: #222;
  --border:#222;
  --input:#e9e9e9;
  --accent-color: #007bff;
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 12px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  line-height: 1.2rem;
  background: var(--primary-color);
  color: var(--text);
  font-family: Helvetica, sans-serif;
}

/* loading entry page */
.entry-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  background: white;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* loading animation */
.loading-animation {
  width: 400px;
  height: 400px;
}

/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 129;
  height: 140px;
  text-align: center;
  background: var(--primary-color);
}

.search-box {
  padding: 20px 30px;
  width: 40%;
  margin-bottom: 20px;
  border-radius: var(--radius-medium);
  font-size: 1rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  border: none;
  background: #e9e9e9;
  font-family: Helvetica, sans-serif;
}

/* search box key word for no results */
.no-results {
  text-align: center;
  font-size: 40px;
}

.button-container {
  display: flex;
  padding-top: 160px;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  min-width: 100px;
  height: 40px;
  border-radius: var(--radius-medium);
  color: var(--text);
  border: 1px solid var(--border);
  font-size: 15px;
  outline: none;
  cursor: pointer;
  background-color: var(--primary-color);
  filter: brightness(100%);
  font-family: Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

button:not(#backButton):hover {
  background-color: #222;
  color: #ffffff;
}

/* going back  */
#backButtonContainer {
  position: fixed;
  top: 10px;
  /* Adjust based on your layout */
  left: 10px;
  z-index: 1000;
  /* Ensure it's above other elements */
}

#backButton {
  /* Button styling */
  border: 1px solid var(--border);
  cursor: pointer;
  min-width: 70px;
  height: 65px;
}

#backButton i {
  margin: 2px;
  font-size: 40px;
  color: var(--text);
}

/* Main container grid */
.main-container {
  /* Adjust this value based on the actual height of the header */
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

section {
  margin: 10px;
}

/* Individual Sandwich card holder */
.sandwich-card-holder {
  /* set box border-box */
  box-sizing: border-box;
  border: 1px solid var(--border);
  background: var(--secondary-color);
  border-radius: var(--radius-large);
  box-shadow: 0 4px 8px rgba(0, 0. 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.sandwich-card-holder:hover {
  box-shadow: 0 6px 12px rgba(0, 0. 0, 0.2);
}

/* Images */
img {
  width: 100%;
  /* Adjust image width to fill the container */
  height: 40%;
  /* Adjust image height to fill the container */
  object-fit: cover;
  filter: brightness(100%);
}

/* fa-container */
.fa-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: none;
  gap: 5px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 0 10px;
}

/* fa icon */
.fa {
  color: var(--text--icon);
  font-size: 25px;
}

.fa-smile-o {
  padding: 2px;
  border-radius: 30%;
  cursor: pointer;
  display: flex;
}

/* review fa-smile section */
.fa-smile-o.selected {
  background-color: gold;
}

.fa-paper-plane-o {
  cursor: pointer;
  padding: 2px;
  border-radius: 30%;
}

.fa-paper-plane-o:hover {
  background-color: var(--accent-color);
}

/* Receipt preview container */
.receipt-preview-container {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
  background: var(--secondary-color);
  padding: 15px;
  margin-top: 30px;
}

.label-name {
  font-weight: 600;
}

.ingredients-title {
  font-weight: 400;
  margin-top: 10px;
}

/* Ingredients-title */
.ingredients-title, .receipt-content-container {
  font-size: 1rem;
  line-height: 1.4;
}

.recipt-content-container {
  height: auto;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0. 0, 0.1);
  font-size: 1rem;
  line-height: 1.5;
}

.toggle-ingredients-btn {
  width: 100%;
  height: 40px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  background: var(--secondary-color);
  filter: brightness(100%);
  user-select: none;
  font-family: Helvetica, sans-serif;
}

ul,
li {
  list-style: none;
}


/* Media query for screens up to 768px */
@media screen and (max-width: 768px) {

 .loading-animation {
    width: 300px;
    height: 300px;
  }

  header {
    height: auto;
  }

  h1 {
    font-size: 1.4rem;
    padding: 10px;
    margin: 10px;
  }
  /* Adjust styles for smaller screens here */
  .search-box {
    padding: 15px 0;
    width: 90%;
  }

  #backButtonContainer {
    top: 68px;
  }

  .main-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Adjust grid columns for smaller screens */
  }

  .sandwich-card-holder {
    height: auto;
    /* Adjust height or other styles for smaller screens */
  }

  img {
    height: 100%;
    /* Adjust image height for smaller screens */
  }

  .receipt-preview-container {
    max-width: 100%;
     /* Limit container width */
    box-sizing: border-box;
    /* Include padding and border in width */
  }

  .receipt-content-container {
    height: auto;
  }
}

